<div class="modal fade" ng-controller="galleryController" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="profileAddress">Nicky De Silva +45 40 92 40 35<br/><a class="mailNicky" href="mailto:nicky@nickydesilva.com">nicky@nickydesilva.com</a><br/>Studiestrædet 3d, 2. sal<br/> 1455 Kbh K<br/> Representation London Coffin Inc. <a class="mailNicky" href="mailto:david@coffin-inc.com">david@coffin-inc.com</a><br/><a class="mailNicky" target="_blank" href="https://www.instagram.com/nickydesilva/"><i class="fa fa-instagram fa-2x"></i></a>
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>